body{
    width: 100%;
    height: auto;
}

.dash{
    background-color: rgba(66, 103, 178, 1) !important;
    padding: 0;
    height: 100vh;
}
.profImage{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .profImage .bio{
    color: #fff;
    margin: 20px 0;
} */
.profImageCover{
    border-radius: 50%;
    border: 2px solid #ccc;
    overflow: hidden;
    width: 150px;
    height: 150px;
    align-content: center;
}
.profImage img{
    width: 100%;
    height: 100%;
}

.togglers{
    /* width: 90%; */
    height: auto;
    margin-top: 20px;
}
.togglers form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.togglers button{
    /* width: 100%; */
    color: #fff;
    width: 80%;
    padding: 10px 0px;
    background: transparent;
    margin: 10px 0px;
}

.togglers .ownBtn{
    border: none;

}

/* Form */
/* 
.form{
    width: 60%;
    background: red;
} */

/* Defining the style of Media */

.media{
    display: flex;
    flex-direction: row;
    background: #eee;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
}
.media:hover{
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

/* .mediaa-img{
    width: 40%;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.mediaa-img .m-img{
    width: 100%;
    height: 100%;
} */