body{
    width: 100%;
    height: auto;
}

.dash{
    background-color: rgba(66, 103, 178, 1) !important;
    padding: 0;
    height: 100vh;
}
.profImage{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .profImage .bio{
    color: #fff;
    margin: 20px 0;
} */
.profImageCover{
    border-radius: 50%;
    border: 2px solid #ccc;
    overflow: hidden;
    width: 150px;
    height: 150px;
    align-content: center;
}
.profImage img{
    width: 100%;
    height: 100%;
}

.togglers{
    /* width: 90%; */
    height: auto;
    margin-top: 20px;
}
.togglers form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.togglers button{
    /* width: 100%; */
    color: #fff;
    width: 80%;
    padding: 10px 0px;
    background: transparent;
    margin: 10px 0px;
}

.togglers .ownBtn{
    border: none;

}

/* Form */
/* 
.form{
    width: 60%;
    background: red;
} */